body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f0f2f5;
}

pre {
  margin: 0;
}

.ant-card-extra-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ant-form-item-label label {
  font-weight: 500;
}

.ant-table-small {
  border: 0;
}
